* {
  --bg-raised: #ffffff;
  --bg-sunken: #f6f8fa;
  --bg-surface: #ffffff;
  --Border-subtlest: #e2e4e9;
  --txt-default: #0a0d14;
  --txt-subtle: #31353f;
  --txt-green-dark: #216e4e;
  --txt-primary-dark: #004b91;
  --txt-purple-dark: #733fb5;
}
